$Black: '../../lib/fonts/Black.ttf';
$Bold: '../../lib/fonts/Bold.ttf';
$Color: #42B2EB;

@font-face {
    font-family: 'CookieBlack';
    src: url($Black) format("truetype");
}

$Font-black: 'CookieBlack', sans-serif;

.contained {
    // position: fixed;
    // left: 43.3%;
    // top: 15%;
    padding: 8% 0 0 0;

    font-family: $Font-black;
    text-align: center;

    font-size: 3rem;
    color: $Color;

    p {
        margin-top: -2px;
        font-size: 1rem;
    }
}